@import "./vaiables.scss";

.pl-content-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 413px;
    width: 100%;
    flex:1;
    z-index: 2;
    flex: 1;
    padding-top: 45px;

    &__title {
        font-size: 48px;
        line-height: 1.2;
        font-weight: 800;
        color: $primary-color;
    }
    &__description {
        font-size: $third-font-size;
        color: $primary-color;
        font-weight: 600;
        font-family: $main-font;
        line-height: 1.2;

        span {
            color: $second-color;
        }
    }
    &__button {
        border-radius: 12px;
        font-family: $main-font;
        background: $primary-color;
        text-align: center;
        color: $third-color;
        font-size: $primary-font-size ;
        line-height: 1;
        font-weight: 700;
        padding: 18px 10px 18px 10px;
        width: 67%;
        margin-top: 8px;
        border:none;
    }
}
.pl-content-block__button:hover {
    background:#00CA14;
    transition-duration: 0.8s;
}
.active-button {
    background:#D2D2D2;
    
}