@import "./fonts.scss";

$primary-color: #000000;
$second-color: #FF8D24;
$third-color: #ffffff;
$fourth-color: #9D9D9D;
$fifth-color: #878787;

$primary-font-size: 16px;
$second-font-size: 12px;
$third-font-size: 24px;


$main-font: Proxima Nova;
